@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    font-family: 'Ubuntu';
    margin: 0;
    padding: 0;
}

:root {
    --gradient-color-red: linear-gradient(90deg, hsl(7, 89%, 46%) 15%,
            hsl(11, 93%, 86%)100%);
    --gradient-color-orange: linear-gradient(90deg, hsl(22, 89%, 46%)15%,
            hsl(54, 90%, 68%)100%);
    --gradient-color-yellow: linear-gradient(90deg, hsl(54, 89%, 46%), 15%,
            hsl (92, 90%, 45%)100%);
    --gradient-color-green: linear-gradient(90deg, hsl(92, 89%, 46%)15%,
            hsl(92, 90%, 68%)100%);
}